# ENTENDIMIENTO Y PERFILAMIENTO DE LOS DATOS

## Grupo 13

- Nicolás Ruíz - 202123608
- Harold Nicolás Coca - 202111176

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y manipulación de los Datos

Para este notebook se usará un set de datos para cada uno de los 4 años que se quieren analizar (2017, 2018, 2021, 2022)

In [45]:
# Importaciones de bibliotecas
!pip  install xlrd pandas numpy
import pandas as pd
import numpy as np

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
nac2017 = pd.read_csv("nac2017.csv", delimiter=",", encoding="latin1")
nac2018 = pd.read_csv("nac2018.csv", delimiter=",", encoding="latin1")
nac2021 = pd.read_csv("nac2021.csv", delimiter=",", encoding="latin1")
nac2022 = pd.read_csv("nac2022.csv", delimiter=",", encoding="latin1")

print(f"Las dimensiones de nac2017 son: {nac2017.shape}")
print(f"Las dimensiones de nac2018 son: {nac2018.shape}")
print(f"Las dimensiones de nac2021 son: {nac2021.shape}")
print(f"Las dimensiones de nac2022 son: {nac2022.shape}")

/var/folders/xc/1b71wg7x7ls1ssjw2lrsc5qc0000gn/T/ipykernel_86017/1131811711.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  nac2022 = pd.read_csv("nac2022.csv", delimiter=",", encoding="latin1")

Las dimensiones de nac2017 son: (656704, 38)
Las dimensiones de nac2018 son: (649115, 38)
Las dimensiones de nac2021 son: (616914, 39)
Las dimensiones de nac2022 son: (573625, 39)

In [47]:
variablesABuscar = {
    # Caracterización de la fecha
    "ANO",  # Año de ocurrencia del nacimiento
    "MES",  # Mes de la ocurrencia del nacimiento
    
    # Caracterización de las regiones específicas
    "COD_DPTO",  # Departamento de nacimiento
    "COD_MUNIC",  # Municipio de nacimiento
    "AREANAC",  # Área de nacimiento (Cabecera municipal, centro poblado, rural disperso)
    
    # Factores socioeconómicos de la madre
    "CODPTORE",  # Departamento de residencia habitual de la madre
    "CODMUNRE",  # Municipio de residencia habitual de la madre
    "AREA_RES",  # Área de residencia habitual de la madre
    "EDAD_MADRE",  # Edad de la madre a la fecha del parto (Rangos de edad)
    "EST_CIVM",  # Estado conyugal de la madre
    "NIV_EDUM",  # Último nivel de estudio que aprobó la madre
    "ULTCURMAD",  # Último año o grado aprobado de la madre
    "SEG_SOCIAL",  # Régimen de seguridad social en salud de la madre
    "NUMCONSUL",  # Número de consultas prenatales que tuvo la madre del nacido vivo
    
    # Caracterización clínica de la madre
    "N_HIJOSV",  # Número de hijos nacidos vivos que ha tenido la madre, incluido el presente
    "N_EMB",  # Número de embarazos, incluido el presente
    
    # Caracterización del nacido vivo
    "SEXO",  # Sexo del nacido vivo
    "PESO_NAC",  # Peso del nacido vivo, al nacer
    "TALLA_NAC",  # Talla del nacido vivo, al nacer
    "T_GES",  # Tiempo de gestación del nacido vivo (Menos de 22, de 22 a 27, de 28 a 37, de 38 a 41, de 42 y más)
    "T_GES_AGRU_CIE",  # Tiempo de gestación del nacido vivo ajustado a la agrupación sugerida por la CIE
    
    # Caracterización del parto
    "TIPO_PARTO",  # Tipo de parto de este nacimiento
    "MUL_PARTO",  # Multiplicidad del embarazo (Simple, doble, triple, cuádruple o más)
    
    # Factores socioeconómicos del padre
    "EDAD_PADRE",  # Edad del padre a la fecha del parto
    "NIV_EDUP",  # Nivel educativo del padre, último año de estudio que aprobó el padre
    "ULTCURPAD",  # Último año o grado aprobado del padre
    
    # Caracterización de la atención del parto
    "SIT_PARTO",  # Sitio de parto (Institución de salud, domicilio)
    "ATEN_PAR",  # El parto fue atendido por
    "PROFESION"  # Profesión de quien certifica el nacimiento
}


columnasNac2017 = [col for col in nac2017.columns if col in variablesABuscar]
columnasNac2018 = [col for col in nac2018.columns if col in variablesABuscar]
columnasNac2021 = [col for col in nac2021.columns if col in variablesABuscar]
columnasNac2022 = [col for col in nac2022.columns if col in variablesABuscar]

columnasNac2017.sort()
columnasNac2018.sort()
columnasNac2021.sort()
columnasNac2022.sort()

print(f"Las columnas de  para los nacimientos en 2017 son: {columnasNac2017}")
print(f"Las columnas de  para los nacimientos en 2018 son: {columnasNac2018}")
print(f"Las columnas de  para los nacimientos en 2021 son: {columnasNac2021}")
print(f"Las columnas de  para los nacimientos en 2022 son: {columnasNac2022}")

columnasEnComun = set(columnasNac2017).intersection(set(columnasNac2018)).intersection(set(columnasNac2021)).intersection(set(columnasNac2022))

print(f"Columnas en común: {columnasEnComun}")
print(f"columnas faltantes en algún año: {variablesABuscar - columnasEnComun}")

Las columnas de  para los nacimientos en 2017 son: ['ANO', 'AREANAC', 'AREA_RES', 'ATEN_PAR', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'EDAD_MADRE', 'EDAD_PADRE', 'EST_CIVM', 'MES', 'MUL_PARTO', 'NIV_EDUM', 'NIV_EDUP', 'NUMCONSUL', 'N_EMB', 'N_HIJOSV', 'PESO_NAC', 'PROFESION', 'SEG_SOCIAL', 'SEXO', 'SIT_PARTO', 'TALLA_NAC', 'TIPO_PARTO', 'T_GES', 'T_GES_AGRU_CIE', 'ULTCURMAD', 'ULTCURPAD']
Las columnas de  para los nacimientos en 2018 son: ['ANO', 'AREANAC', 'AREA_RES', 'ATEN_PAR', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'EDAD_MADRE', 'EDAD_PADRE', 'EST_CIVM', 'MES', 'MUL_PARTO', 'NIV_EDUM', 'NIV_EDUP', 'NUMCONSUL', 'N_EMB', 'N_HIJOSV', 'PESO_NAC', 'PROFESION', 'SEG_SOCIAL', 'SEXO', 'SIT_PARTO', 'TALLA_NAC', 'TIPO_PARTO', 'T_GES', 'T_GES_AGRU_CIE', 'ULTCURMAD', 'ULTCURPAD']
Las columnas de  para los nacimientos en 2021 son: ['ANO', 'AREANAC', 'AREA_RES', 'ATEN_PAR', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'EDAD_MADRE', 'EDAD_PADRE', 'EST_CIVM', 'MES', 'MUL_PARTO', 'NIV_EDUM', 'NIV_EDUP', 'NUMCONSUL', 'N_EMB', 'N_HIJOSV', 'PESO_NAC', 'PROFESION', 'SEG_SOCIAL', 'SEXO', 'SIT_PARTO', 'TALLA_NAC', 'TIPO_PARTO', 'T_GES', 'T_GES_AGRU_CIE', 'ULTCURMAD', 'ULTCURPAD']
Las columnas de  para los nacimientos en 2022 son: ['ANO', 'AREANAC', 'AREA_RES', 'ATEN_PAR', 'CODMUNRE', 'CODPTORE', 'COD_DPTO', 'COD_MUNIC', 'EDAD_MADRE', 'EDAD_PADRE', 'EST_CIVM', 'MES', 'MUL_PARTO', 'NIV_EDUM', 'NIV_EDUP', 'NUMCONSUL', 'N_EMB', 'N_HIJOSV', 'PESO_NAC', 'PROFESION', 'SEG_SOCIAL', 'SEXO', 'SIT_PARTO', 'TALLA_NAC', 'TIPO_PARTO', 'T_GES', 'T_GES_AGRU_CIE', 'ULTCURMAD', 'ULTCURPAD']
Columnas en común: {'N_EMB', 'MUL_PARTO', 'COD_MUNIC', 'CODMUNRE', 'NIV_EDUP', 'EDAD_MADRE', 'ATEN_PAR', 'SEG_SOCIAL', 'TALLA_NAC', 'PESO_NAC', 'SIT_PARTO', 'NUMCONSUL', 'AREA_RES', 'PROFESION', 'T_GES_AGRU_CIE', 'TIPO_PARTO', 'N_HIJOSV', 'EDAD_PADRE', 'ULTCURMAD', 'EST_CIVM', 'SEXO', 'AREANAC', 'CODPTORE', 'ANO', 'T_GES', 'NIV_EDUM', 'COD_DPTO', 'MES', 'ULTCURPAD'}
columnas faltantes en algún año: set()

Se puede evidenciar que todos los sets de datos están completos en términos de las columnas, es decir, todos los años se tienen las mismas variables de interés.

Se procede a obtener una muestra para cada año.

In [48]:
nac2017[columnasNac2017].sample(10)

,ANO,AREANAC,AREA_RES,ATEN_PAR,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,EDAD_MADRE,EDAD_PADRE,...,PROFESION,SEG_SOCIAL,SEXO,SIT_PARTO,TALLA_NAC,TIPO_PARTO,T_GES,T_GES_AGRU_CIE,ULTCURMAD,ULTCURPAD
270848,2017,1,1.0,1,286.0,25.0,11,1,3,22,...,1,1,1,1,4,1,4,4,5,5
150743,2017,1,1.0,1,1.0,13.0,13,1,3,23,...,1,2,2,1,5,1,4,4,3,2
486923,2017,1,1.0,1,288.0,47.0,47,288,4,30,...,1,2,2,1,4,2,4,4,99,99
156481,2017,1,1.0,1,1.0,11.0,11,1,2,21,...,1,1,2,1,4,1,4,4,11,11
647039,2017,1,1.0,1,1.0,73.0,73,1,3,30,...,1,1,2,1,4,1,4,4,5,3
311543,2017,1,3.0,1,214.0,25.0,11,1,6,33,...,1,1,2,1,4,2,3,4,11,5
586378,2017,1,1.0,1,307.0,68.0,68,1,6,35,...,1,1,2,1,5,2,3,4,11,5
633420,2017,1,2.0,1,873.0,73.0,73,873,5,37,...,1,2,1,1,5,1,4,4,99,99
561254,2017,1,1.0,1,1.0,11.0,11,1,2,23,...,1,1,2,1,4,1,3,4,11,9
642551,2017,1,1.0,1,892.0,76.0,76,1,4,23,...,1,1,1,1,4,2,4,4,2,2

In [49]:
nac2018[columnasNac2018].sample(10)

,ANO,AREANAC,AREA_RES,ATEN_PAR,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,EDAD_MADRE,EDAD_PADRE,...,PROFESION,SEG_SOCIAL,SEXO,SIT_PARTO,TALLA_NAC,TIPO_PARTO,T_GES,T_GES_AGRU_CIE,ULTCURMAD,ULTCURPAD
240590,2018,1,1.0,1,238.0,15.0,15,238,6,30,...,1,2,1,1,5,2,4,4,5,11
553971,2018,1,1.0,1,109.0,76.0,76,109,4,25,...,1,2,1,1,5,1,4,4,11,5
649111,2018,1,1.0,1,1.0,27.0,27,1,4,35,...,1,2,1,1,5,1,3,4,99,99
268988,2018,1,3.0,1,286.0,25.0,25,269,3,24,...,1,1,1,1,5,1,4,4,11,11
454227,2018,1,3.0,1,2.0,5.0,5,1,2,22,...,1,2,1,1,5,1,4,4,0,0
292547,2018,1,1.0,1,1.0,5.0,5,1,2,22,...,1,1,1,1,5,3,4,4,11,11
636552,2018,1,3.0,1,399.0,52.0,52,399,2,24,...,1,2,1,1,5,2,3,4,9,5
254968,2018,1,1.0,1,1.0,11.0,11,1,3,28,...,1,1,2,1,5,1,4,4,11,11
543102,2018,1,1.0,1,1.0,76.0,76,1,2,19,...,1,2,2,1,5,1,4,4,10,99
232073,2018,1,1.0,1,172.0,5.0,5,172,2,25,...,1,2,1,1,5,1,4,4,8,8

In [50]:
nac2021[columnasNac2021].sample(10)

,ANO,AREANAC,AREA_RES,ATEN_PAR,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,EDAD_MADRE,EDAD_PADRE,...,PROFESION,SEG_SOCIAL,SEXO,SIT_PARTO,TALLA_NAC,TIPO_PARTO,T_GES,T_GES_AGRU_CIE,ULTCURMAD,ULTCURPAD
519765,2021,1,1.0,1,1.0,5.0,5,1,3,22,...,1.0,5,2,1,5,2,4,4,10,10
308241,2021,1,1.0,1,473.0,25.0,11,1,4,28,...,1.0,1,1,1,5,1,3,4,11,11
454504,2021,1,1.0,1,364.0,76.0,76,1,5,32,...,1.0,1,1,1,5,2,4,4,5,5
189983,2021,1,1.0,1,1.0,50.0,50,1,3,45,...,1.0,5,2,1,5,1,4,4,11,11
554165,2021,1,1.0,1,1.0,5.0,5,1,3,30,...,1.0,1,2,1,5,1,4,4,3,3
405816,2021,1,2.0,1,233.0,76.0,76,1,2,24,...,1.0,2,1,1,5,1,4,4,9,11
100608,2021,1,1.0,1,1.0,8.0,8,1,6,41,...,1.0,1,1,1,5,1,4,4,9,9
25321,2021,1,1.0,1,288.0,47.0,47,1,4,34,...,1.0,2,2,1,5,2,4,4,9,9
245337,2021,1,1.0,1,1.0,11.0,11,1,4,30,...,1.0,1,2,1,4,2,4,4,6,6
553393,2021,1,1.0,1,1.0,5.0,5,1,5,34,...,1.0,1,2,1,5,1,4,4,2,3

In [51]:
nac2022[columnasNac2022].sample(10)

,ANO,AREANAC,AREA_RES,ATEN_PAR,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,EDAD_MADRE,EDAD_PADRE,...,PROFESION,SEG_SOCIAL,SEXO,SIT_PARTO,TALLA_NAC,TIPO_PARTO,T_GES,T_GES_AGRU_CIE,ULTCURMAD,ULTCURPAD
558441,2022,1,1.0,1,1.0,13.0,13,1,5,38,...,1.0,1,2,1,4,2,4,4,5,5
415351,2022,1,1.0,1,1.0,54.0,54,1,4,26,...,1.0,2,1,1,5,2,4,4,11,5
452872,2022,1,1.0,1,758.0,8.0,8,1,5,37,...,1.0,1,2,1,5,2,3,4,2,11
531838,2022,1,1.0,1,1.0,20.0,20,1,3,34,...,1.0,1,1,1,5,1,4,4,11,5
82378,2022,1,1.0,1,430.0,85.0,15,759,5,30,...,1.0,1,2,1,4,2,4,4,5,5
420593,2022,1,1.0,1,1.0,47.0,47,1,4,24,...,1.0,2,1,1,5,1,4,4,2,99
373670,2022,1,1.0,1,672.0,23.0,23,417,3,28,...,1.0,2,1,1,5,2,4,4,5,9
458314,2022,1,1.0,1,1.0,11.0,11,1,3,27,...,1.0,2,2,1,4,1,4,4,11,11
376507,2022,1,1.0,1,785.0,25.0,11,1,5,27,...,1.0,1,1,1,5,2,3,4,11,11
303111,2022,1,1.0,1,313.0,50.0,50,313,5,35,...,1.0,2,2,1,5,1,4,4,11,11

Luego, vemos los tipos de las variables, también para cada año.

In [52]:
nac2017[columnasNac2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656704 entries, 0 to 656703
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ANO             656704 non-null  int64
 1   AREANAC         656704 non-null  int64
 2   AREA_RES        655508 non-null  float64
 3   ATEN_PAR        656704 non-null  int64
 4   CODMUNRE        655437 non-null  float64
 5   CODPTORE        655438 non-null  float64
 6   COD_DPTO        656704 non-null  int64
 7   COD_MUNIC       656704 non-null  int64
 8   EDAD_MADRE      656704 non-null  int64
 9   EDAD_PADRE      656704 non-null  int64
 10  EST_CIVM        656704 non-null  int64
 11  MES             656704 non-null  int64
 12  MUL_PARTO       656704 non-null  int64
 13  NIV_EDUM        656704 non-null  int64
 14  NIV_EDUP        656704 non-null  int64
 15  NUMCONSUL       656704 non-null  int64
 16  N_EMB           656704 non-null  int64
 17  N_HIJOSV        656704 non-null  int64
 18  PESO_NAC        656704 non-null  int64
 19  PROFESION       656704 non-null  int64
 20  SEG_SOCIAL      656704 non-null  int64
 21  SEXO            656704 non-null  int64
 22  SIT_PARTO       656704 non-null  int64
 23  TALLA_NAC       656704 non-null  int64
 24  TIPO_PARTO      656704 non-null  int64
 25  T_GES           656704 non-null  int64
 26  T_GES_AGRU_CIE  656704 non-null  int64
 27  ULTCURMAD       656704 non-null  int64
 28  ULTCURPAD       656704 non-null  int64
dtypes: float64(3), int64(26)
memory usage: 145.3 MB

In [53]:
nac2017[columnasNac2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656704 entries, 0 to 656703
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ANO             656704 non-null  int64
 1   AREANAC         656704 non-null  int64
 2   AREA_RES        655508 non-null  float64
 3   ATEN_PAR        656704 non-null  int64
 4   CODMUNRE        655437 non-null  float64
 5   CODPTORE        655438 non-null  float64
 6   COD_DPTO        656704 non-null  int64
 7   COD_MUNIC       656704 non-null  int64
 8   EDAD_MADRE      656704 non-null  int64
 9   EDAD_PADRE      656704 non-null  int64
 10  EST_CIVM        656704 non-null  int64
 11  MES             656704 non-null  int64
 12  MUL_PARTO       656704 non-null  int64
 13  NIV_EDUM        656704 non-null  int64
 14  NIV_EDUP        656704 non-null  int64
 15  NUMCONSUL       656704 non-null  int64
 16  N_EMB           656704 non-null  int64
 17  N_HIJOSV        656704 non-null  int64
 18  PESO_NAC        656704 non-null  int64
 19  PROFESION       656704 non-null  int64
 20  SEG_SOCIAL      656704 non-null  int64
 21  SEXO            656704 non-null  int64
 22  SIT_PARTO       656704 non-null  int64
 23  TALLA_NAC       656704 non-null  int64
 24  TIPO_PARTO      656704 non-null  int64
 25  T_GES           656704 non-null  int64
 26  T_GES_AGRU_CIE  656704 non-null  int64
 27  ULTCURMAD       656704 non-null  int64
 28  ULTCURPAD       656704 non-null  int64
dtypes: float64(3), int64(26)
memory usage: 145.3 MB

In [54]:
nac2021[columnasNac2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616914 entries, 0 to 616913
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ANO             616914 non-null  int64
 1   AREANAC         616914 non-null  int64
 2   AREA_RES        608086 non-null  float64
 3   ATEN_PAR        616914 non-null  int64
 4   CODMUNRE        608083 non-null  float64
 5   CODPTORE        608083 non-null  float64
 6   COD_DPTO        616914 non-null  int64
 7   COD_MUNIC       616914 non-null  int64
 8   EDAD_MADRE      616914 non-null  int64
 9   EDAD_PADRE      616914 non-null  int64
 10  EST_CIVM        616914 non-null  int64
 11  MES             616914 non-null  int64
 12  MUL_PARTO       616914 non-null  int64
 13  NIV_EDUM        616914 non-null  int64
 14  NIV_EDUP        616914 non-null  int64
 15  NUMCONSUL       616914 non-null  int64
 16  N_EMB           616914 non-null  int64
 17  N_HIJOSV        616914 non-null  int64
 18  PESO_NAC        616914 non-null  int64
 19  PROFESION       616847 non-null  float64
 20  SEG_SOCIAL      616914 non-null  int64
 21  SEXO            616914 non-null  int64
 22  SIT_PARTO       616914 non-null  int64
 23  TALLA_NAC       616914 non-null  int64
 24  TIPO_PARTO      616914 non-null  int64
 25  T_GES           616914 non-null  int64
 26  T_GES_AGRU_CIE  616914 non-null  int64
 27  ULTCURMAD       616914 non-null  int64
 28  ULTCURPAD       616914 non-null  int64
dtypes: float64(4), int64(25)
memory usage: 136.5 MB

In [55]:
nac2022[columnasNac2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573625 entries, 0 to 573624
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ANO             573625 non-null  int64
 1   AREANAC         573625 non-null  int64
 2   AREA_RES        567227 non-null  float64
 3   ATEN_PAR        573625 non-null  int64
 4   CODMUNRE        567227 non-null  float64
 5   CODPTORE        567227 non-null  float64
 6   COD_DPTO        573625 non-null  int64
 7   COD_MUNIC       573625 non-null  int64
 8   EDAD_MADRE      573625 non-null  int64
 9   EDAD_PADRE      573625 non-null  int64
 10  EST_CIVM        573625 non-null  int64
 11  MES             573625 non-null  int64
 12  MUL_PARTO       573625 non-null  int64
 13  NIV_EDUM        573625 non-null  int64
 14  NIV_EDUP        573625 non-null  int64
 15  NUMCONSUL       573625 non-null  int64
 16  N_EMB           573625 non-null  int64
 17  N_HIJOSV        573625 non-null  int64
 18  PESO_NAC        573625 non-null  int64
 19  PROFESION       571426 non-null  float64
 20  SEG_SOCIAL      573625 non-null  int64
 21  SEXO            573625 non-null  int64
 22  SIT_PARTO       573625 non-null  int64
 23  TALLA_NAC       573625 non-null  int64
 24  TIPO_PARTO      573625 non-null  int64
 25  T_GES           573625 non-null  int64
 26  T_GES_AGRU_CIE  573625 non-null  int64
 27  ULTCURMAD       573625 non-null  int64
 28  ULTCURPAD       573625 non-null  int64
dtypes: float64(4), int64(25)
memory usage: 126.9 MB

Una vez analizamos los datos por separado procedemos a unir todo en un solo DataFrame.

In [56]:
df_nacimientos = pd.concat([nac2017[columnasNac2017], nac2018[columnasNac2018], nac2021[columnasNac2021], nac2022[columnasNac2022]], axis=0)
df_nacimientos.reset_index(drop=True, inplace=True)
df_nacimientos.sample(30)

,ANO,AREANAC,AREA_RES,ATEN_PAR,CODMUNRE,CODPTORE,COD_DPTO,COD_MUNIC,EDAD_MADRE,EDAD_PADRE,...,PROFESION,SEG_SOCIAL,SEXO,SIT_PARTO,TALLA_NAC,TIPO_PARTO,T_GES,T_GES_AGRU_CIE,ULTCURMAD,ULTCURPAD
1206675,2018,1,1.0,1,1.0,81.0,81,1,2,16,...,1.0,2,2,1,5,1,4,4,5,5
1643369,2021,1,1.0,1,679.0,68.0,68,679,2,20,...,1.0,2,2,1,4,1,4,4,9,9
1596702,2021,1,3.0,1,298.0,41.0,41,298,2,22,...,1.0,2,1,1,5,1,4,4,7,5
1038,2017,1,1.0,1,1.0,5.0,5,1,4,27,...,1.0,1,1,1,5,3,4,4,11,11
2160206,2022,1,1.0,1,555.0,23.0,23,555,3,32,...,1.0,2,1,1,5,2,4,4,11,5
534777,2017,1,1.0,1,1.0,11.0,25,513,4,28,...,1.0,1,2,1,5,1,4,4,6,9
1195936,2018,1,3.0,1,801.0,41.0,41,1,2,23,...,1.0,2,1,1,5,1,4,4,7,9
2270291,2022,1,3.0,1,212.0,5.0,5,1,5,41,...,1.0,2,2,1,4,1,3,3,10,5
1579307,2021,1,3.0,1,862.0,25.0,25,513,3,32,...,1.0,5,2,1,4,2,4,4,5,5
1726590,2021,1,1.0,1,1.0,76.0,76,1,3,40,...,1.0,1,1,1,5,2,4,4,8,10
1194406,2018,1,1.0,1,307.0,68.0,68,276,3,23,...,1.0,2,2,1,5,2,4,4,9,8
2345780,2022,1,1.0,1,380.0,17.0,17,380,3,31,...,1.0,1,1,1,5,1,4,4,2,4
2475943,2022,1,2.0,1,100.0,19.0,19,100,4,27,...,1.0,1,2,1,5,1,4,4,11,11
1945677,2022,1,1.0,1,42.0,17.0,17,42,4,21,...,1.0,1,2,1,5,1,4,4,9,9
1735812,2021,1,1.0,1,835.0,52.0,52,835,4,28,...,1.0,1,1,1,5,1,4,4,2,11
2295197,2022,1,3.0,1,364.0,19.0,19,364,3,24,...,1.0,2,2,1,4,1,4,4,11,5
900205,2018,1,1.0,1,1.0,11.0,11,1,5,34,...,1.0,1,2,1,4,3,4,4,5,5
1577840,2021,1,3.0,1,1.0,85.0,85,1,6,29,...,1.0,1,2,1,5,1,3,4,9,6
1055252,2018,1,1.0,1,1.0,76.0,76,1,5,35,...,1.0,1,2,1,5,1,4,4,5,11
196829,2017,1,1.0,1,1.0,76.0,76,1,3,25,...,1.0,2,2,1,5,1,4,4,11,99
1026168,2018,1,1.0,1,1.0,68.0,68,1,4,34,...,1.0,1,1,1,5,2,4,4,11,11
2187747,2022,1,1.0,1,189.0,47.0,47,189,3,28,...,1.0,2,2,1,4,2,4,4,11,11
1405623,2021,1,1.0,1,1.0,8.0,8,1,3,19,...,1.0,2,1,1,4,2,3,3,11,11
149393,2017,1,3.0,1,425.0,5.0,5,890,3,32,...,1.0,2,1,1,4,1,4,4,5,99
645425,2017,1,1.0,1,1.0,11.0,11,1,4,28,...,1.0,1,2,1,5,1,4,4,11,11
1899265,2021,1,1.0,1,88.0,5.0,5,1,5,32,...,1.0,1,1,1,4,1,4,4,11,11
339348,2017,1,1.0,1,1.0,8.0,8,1,2,23,...,1.0,1,1,1,5,1,4,4,11,11
584864,2017,1,1.0,1,162.0,23.0,23,1,6,40,...,1.0,2,2,1,4,2,3,4,99,5
357439,2017,1,1.0,1,1.0,54.0,54,1,5,24,...,1.0,2,2,1,5,1,4,4,11,11
341403,2017,1,1.0,1,754.0,25.0,11,1,2,25,...,1.0,1,2,1,5,1,4,4,5,11

## Entendimiento de los datos

## Análisis de calidad de datos

## Completitud
Se realiza en analisis para ver la completitud de los datos.

In [57]:
porcentajeIncompletitudAtributo =  (100 * df_nacimientos.isnull().sum() / df_nacimientos.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Columna": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
})

           Columna  Completitud (%)
0         CODMUNRE        99.175319
1         CODPTORE        99.175359
2         AREA_RES        99.182449
3        PROFESION        99.909228
4              ANO       100.000000
5            N_EMB       100.000000
6        ULTCURMAD       100.000000
7   T_GES_AGRU_CIE       100.000000
8            T_GES       100.000000
9       TIPO_PARTO       100.000000
10       TALLA_NAC       100.000000
11       SIT_PARTO       100.000000
12            SEXO       100.000000
13      SEG_SOCIAL       100.000000
14        PESO_NAC       100.000000
15        N_HIJOSV       100.000000
16        NIV_EDUP       100.000000
17       NUMCONSUL       100.000000
18         AREANAC       100.000000
19        NIV_EDUM       100.000000
20       MUL_PARTO       100.000000
21             MES       100.000000
22        EST_CIVM       100.000000
23      EDAD_PADRE       100.000000
24      EDAD_MADRE       100.000000
25       COD_MUNIC       100.000000
26        COD_DPTO       100.000000
27        ATEN_PAR       100.000000
28       ULTCURPAD       100.000000

El atributo más incompleto es CODMUNRE, con apenas el 0.82% de datos faltantes. Es por esto por lo que podemos decir que si hay completitud en los datos.

## Análisis de unicidad
Se realiza el análisis de unicidad para verificar si hay duplicados.

In [58]:
duplicados = df_nacimientos.duplicated()
total_duplicados = duplicados.sum()
total_datos = df_nacimientos.shape[0]
proporcion_duplicados = 100.0 * total_duplicados / total_datos
print(f"Se encontraron  {total_duplicados} registros duplicados equivalentes al {proporcion_duplicados:.2f}% de los datos")

Se encontraron  8387 registros duplicados equivalentes al 0.34% de los datos

Ya que el porcentaje de duplicados es tan bajo, resulta razonable eliminarlos.

## Validez

In [59]:
for columna in df_nacimientos:
    print(columna, ":", df_nacimientos[columna].unique())

ANO : [2017 2018 2021 2022]
AREANAC : [1 3 2 9]
AREA_RES : [ 1.  2.  3. nan  9.]
ATEN_PAR : [1 5 6 2 3 4 9]
CODMUNRE : [  1. 786. 130. 466. 356. 698. 430. 885. 580. 433. 128. 147. 797.  30.
 551. 834. 899. 154. 570. 650. 245.  10. 360. 243. 807. 283. 675. 279.
 573.  51. 215. 399.  79. 111. 860.  32.  45. 172. 276. 126. 238. 667.
 266. 823.  88. 758. 799. 383. 109. 517. 530. 520. 555. 858. 591. 685.
 874. 503. 212. 585. 359.  13. 612. 616. 532.  38. 190. 754. 284. 671.
 837. 438. 175. 516. 268.  91. 621. 250. 357.  34. 151. 873. 101. 307.
 892. 244. 615.  90. 317. 553. 701. 847. 568. 286. 682. 855. 298. 468.
 755. 142. 835. 432. 227. 980. 419. 798.  52. 756.  81. 406. 770. 400.
 417. 688. 320. 181.   2. 318. 865. 380. 376. 590. 483. 377.  58. 794.
 579. 659.  78. 402. 810.  42. 815. 887. 440. 547. 753. 455. 162. 407.
 678. 275. 647. 498. 569. 197. 226. 443. 396. 200. 491. 890. 418. 248.
 290. 490. 240. 773. 421. 222. 234. 545. 170. 548. 836. 364. 330. 662.
 708. 473. 660. 689. 247. 385. 361. 258. 789. 861. 386. 410. 785. 312.
 122. 606. 750. 150.   6. 300. 110. 838. 100. 287. 736.  75. 683. 508.
 442. 673. 176. 125. 599. 405.  60. 841. 306.  22. 272. 129. 665. 740.
 372. 697. 296. 189. 239. 631. 575.  65. 495. 518. 586. 467. 178. 264.
 574. 183. 742. 148. 594. 572. 207. 224. 817. 634. 174. 288. 596. 209.
   3. 233. 269. 217. 221. 308. 326. 313. 787. 378. 670. 895. 237. 672.
 235. 563. 821. 464. 658. 800. 325. 435. 500. 769. 204.  31. 168.  nan
 761. 139.  98. 350. 820. 745. 469. 743. 263.  77. 664. 228. 558. 260.
 368. 604. 488. 113. 843. 839. 265. 854.  11. 480. 124. 449. 180. 720.
 686. 167. 622. 871. 513. 335. 429. 132. 757. 718. 713. 674. 299. 680.
 141. 560. 655. 444.  16. 693. 319.  53. 668. 137. 401. 456. 771. 256.
 801. 411. 470. 436. 792.  20. 310.  35. 687. 293. 537.  50. 355. 877.
 679. 791. 205. 506. 759. 832. 206. 541.  94. 223. 549. 592. 486. 607.
 632. 780. 210. 450. 676. 696. 261. 610. 394. 390. 790.  40. 531. 408.
  44.  68.  36. 614.  62. 182. 772. 869. 776. 638.  86. 426. 824.  15.
 657. 458. 352. 717. 187. 550. 460. 214. 321. 322. 344. 540. 849. 397.
 120. 875. 185.  19. 814. 828. 624. 282. 600.  25. 145. 894. 140. 809.
 211.  74. 883. 236.  26. 710.  67. 507. 523. 872. 681. 893.  47. 219.
 793. 642. 960. 524. 494. 475.  24. 565. 788. 564. 620. 251. 690. 398.
 779. 281. 349. 653. 692.  83. 152. 842. 749. 315. 131. 388. 571. 425.
 867. 777. 806.  99. 370. 297. 339. 323. 533. 446. 654. 225. 646. 711.
 246. 514. 367. 255. 760. 104. 107. 702. 295. 347.  54. 161. 888. 535.
 504. 138. 134. 781. 328. 694.  92. 684. 649. 652. 878.  43. 645. 203.
  29. 543.  95. 764.  97. 106. 230. 381. 497. 778.  87. 218. 577. 270.
 403. 774. 845.  41. 220. 343. 324. 542. 576. 229. 302. 332. 879. 707.
 699. 605. 819. 160. 816. 461. 870.  55. 123. 392. 763. 232. 762. 188.
  93. 489. 703. 656. 427. 628. 897. 744. 804. 522.  73. 863. 271. 354.
 898. 476. 135. 420.   4. 805. 822. 851. 501. 169. 723. 502. 353. 663.
 479. 121. 808. 179.  59. 362. 666.  21. 856. 511. 254. 862. 669. 413.
 327. 705. 114. 136. 884. 886. 536. 889.]
CODPTORE : [ 8. 23. 11. 52. 63. 13. 76. 19. 25. 41. 17. 54.  5. 20. 44. 68. 47. 85.
 73. 70. 50. 18. 66. 15. 86. 91. 81. 95. 27. 94. 99. nan 88. 97.]
COD_DPTO : [ 8 23 11 52 63 13 76 25 41 17 54  5 20 44 68 47 85 15 73 70 50 18 66 19
 86 91 81 95 27 94 99 88 97]
COD_MUNIC : [  1 430 466 356 269 580 433 128  45 797 129 551 834 650 245 243 172 299
 349 417 399 111  32 513 758 109 517 530 520 555 858 503 212 612 616 532
 887  42 837 175 238 268  91 250 357 101 276 244 615 307 843 847 785 568
 682 298 755 698 835 207 215 573  81  52 754 688 376 865 380 590 383 736
 408 547 266 892 498 396  60 411 759 890 248 290 490 162 579 432 234 468
 330 662 708 313 861 170 154 789 386 638 440 287  13 400 442   6 176 660
 151 838 665 372  90 227 753 189 570 518 264 574 130 147 810 572 174  40
 233 647 217 288 142  34 585 495 895 464 658 325 435 168  86 678 469 228
 300 247  10  11 686 679 871 183 718 674 680 773 874 317 444 473 563  78
 190 443 483 770 110 899 240 631  16 429 308 150 322 319 265 355   2 364
  53 205 832  94 807 223 279 480 687 405 418 610  88 531 672 283 318 622
 541 873 814 460 821 500 220 540 548 594 456 470  31 260  74 743 507 624
 670 872 667 219 237 450 787  50 689 885 455  26 125  24 258 397  79 690
 410  22 361 756 281 744 710 122  67 742 388 614 377 815 675 604 533 152
 642 877 124 606 653  38 378 320  51 256 120 107 657 449 696 745  54 275
 504 138 524 599 401 421 878  58 893  43 649 836  68 486 668 350 126  19
 297 713 230 381 780 794 497 310 577 407 757  41 673  15  30 296 799 655
 137 543 621 699 575 347 251  65 883 236 819 824 100 875 263 419 160 855
 646 425 332 772 385 790 823 777 270 390 255 571  20 141 209 659 569 178
 870 685  55 550 516 438 820   3 475 671  75 711 182 549 600 788 286 576
 132 656 692 854 226 271 282 506 344 664 403 761 683 842 306 148 898 398
 352 406  93 368 508 206 284 467  99 720 851 801 140 272 828 620 560 394
  25 370 167 645 359 161 676 763 760 809 591 750 343 113 210 717 791 221
 360  77 703 798 707  35 225 666 800 592 222 681 684 139 261 980 628 501
 960 235 246  36 224 197 200 867 863 295  44 663 188 229 862 134  62 413
  21 845  47 436 553 771 427 461  73 652 545 326 135 502 849 856 315 402
 353 792 869 564 145  83 822 323 634 565 136 702 392 367 321 693 254 204
 203 860 654 458 669 816 697 793 491 218  92 185 479 786 886 511 776 701
 804  87 841 354  98 239 293 181 632 302 839  29 705 211 536 586 889 523
 542  59 769 894 740  97 446 558 214 327 605 179 884 774 104 817 778 607
 888 420 123 169 180 514 764 762 779 596 476 723 324   4 808 522 232 312
 131 879]
EDAD_MADRE : [ 4  5  6  3  2  1  7  9  8 99]
EDAD_PADRE : [ 26  32  27  36  22  46  21  25  23  28  30  24  38  31  15  35  20  45
  33  42  44 999  43  39  16  41  29  19  40  17  58  34  37  18  52  47
  53  48  49  50  62  13  51  55  61  54  59  56  69  64  14  70  65  57
  71  60  63  72  67  66  68  74  77  75  78  73  88  76  80  87  86  81
  79 100  90  91  12]
EST_CIVM : [6 1 5 2 9 3 4]
MES : [ 1  3  2  5  4  6  7  9  8 10 11 12]
MUL_PARTO : [1 2 3 4 9]
NIV_EDUM : [ 7  4  2  3  5  8  9 99 11 13 10  6  1 12]
NIV_EDUP : [ 4  2  3 99  7  9  5  8 13 10 11  1  6 12]
NUMCONSUL : [ 8  4  9  5  6  3  7 10  2 15  1  0 12 14 13 11 16 20 17 99 22 18 19 21
 24 25 23]
N_EMB : [ 2  1  3  5  4  7  8  6  9 10 11 12 14 17 13 99 16 15 19 18 20]
N_HIJOSV : [ 2  1  3  4  6  5  7  8  9 10 12 11 14 13 99 17 15 16 18 19 20]
PESO_NAC : [6 5 7 1 4 8 2 3 9]
PROFESION : [ 1.  4.  2.  3.  5.  9. nan]
SEG_SOCIAL : [1 2 3 5 4 9]
SEXO : [2 1 3]
SIT_PARTO : [1 3 2 9]
TALLA_NAC : [5 4 3 1 2 6 9]
TIPO_PARTO : [1 2 3 4 9]
T_GES : [4 3 2 5 1 6 9]
T_GES_AGRU_CIE : [4 2 3 5 1 6 9]
ULTCURMAD : [ 2 11  5 10  9  4  7  6  3  8 99  1 13 12  0]
ULTCURPAD : [11  5  9 99 10  6  3  2  7  8  4  1 13  0 12]

Todas las columnas tienen valores validos de acuerdo con el diccionario de los datos proporcionado por el DANE. Sin mebargo, las columnas ULTCURMAD y ULTCURPAD tienen el valor 0 cuando estas métricas no se encuentran dentro de los posibles valores que pueden tomar.

## Consistencia

Existen varios problemas de consistencia al tratar a los valores nulos. A continuación se iran mencionando y corrigiendo

- Se reemplazan valores inválidos por el valor correspondiente a "Sin información" en las variables `ULTCURMAD` y `ULTCURPAD`

In [60]:
df_nacimientos['ULTCURMAD'] = df_nacimientos['ULTCURMAD'].replace(0, 99)
df_nacimientos['ULTCURPAD'] = df_nacimientos['ULTCURPAD'].replace(0, 99)

- Existen valores nulos, pese a que existen atributos para denotar carencia de información

In [61]:
df_nacimientos['PROFESION'] = df_nacimientos['PROFESION'].fillna(9).astype(int)
df_nacimientos['AREA_RES'] = df_nacimientos['AREA_RES'].fillna(9).astype(int)

- Las variables `CODMUNRE`y `CODPTORE` no cuentan con un valor para "Sin información". Debido a que son pocas las filas que presentan valores nulos, se procederá a eliminarlas.

In [62]:
prev_len = df_nacimientos.shape[0]
df_nacimientos = df_nacimientos.dropna()
print(f"Se eliminaron {prev_len - df_nacimientos.shape[0]} registros")

Se eliminaron 20587 registros

Finalmente, se exporta el archivo corregido

In [63]:
df_nacimientos.to_csv("NacCompleto.csv", index=False)